Repository miracle-git/mate-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

搭建基础工程配置
  .DS_Store
  .idea/workspace.xml
Due: none

搭建基础工程配置
  .DS_Store
  .gitignore
  pnpm-lock.yaml
Due: none

Delete .DS_Store
  .DS_Store
Due: none

feat: 新增数据类型检测
  .DS_Store
  .eslintrc.js
  .pretterrc.js
  README.md
  package.json
  packages/.internal/type.ts
  packages/config/package.json
  packages/config/src/index.ts
  packages/type/.babelrc.js
  packages/type/.eslintignore
  packages/type/.gitignore
  packages/type/CHANGELOG.md
  packages/type/README.md
  packages/type/package.json
  packages/type/rollup.config.js
  packages/type/src/index.ts
  packages/type/tsconfig.json
  packages/type/types/.internal/type.d.ts
  packages/type/types/index.d.ts
  packages/type/types/type/src/index.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, markdownlint --fix

feat: 新增测试用例
  .gitignore
  README.md
  commitlint.config.js
  package.json
  packages/.internal/type.ts
  packages/conf/.babelrc.js
  packages/conf/.eslintignore
  packages/conf/.gitignore
  packages/conf/CHANGELOG.md
  packages/conf/README.md
  packages/conf/package.json
  packages/conf/rollup.config.js
  packages/conf/src/index.ts
  packages/conf/tsconfig.json
  packages/conf/types/index.d.ts
  packages/config/package.json
  packages/type/.gitignore
  packages/type/__test__/type.test.js
  packages/type/jest.config.js
  packages/type/src/index.ts
  packages/type/test-report.html
  packages/type/types/.internal/type.d.ts
  packages/type/types/index.d.ts
  packages/type/types/type/src/index.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, markdownlint --fix

feat: 新增测试用例
  packages/type/__test__/type.test.js
Due: eslint --fix, prettier --write

feat: 新增测试报告
  .gitignore
  .pretterignore
  package.json
  packages/.internal/type.ts
  packages/conf/src/index.js
  packages/conf/src/index.js.map
  packages/type/.babelrc.js
  packages/type/.gitignore
  packages/type/.npmignore
  packages/type/jest.config.js
  packages/type/package.json
  packages/type/src/index.ts
  packages/type/test-report.html
  packages/type/test/__tests__/type.test.ts
  packages/type/test/reporter/jest-html-reporters-attach/jest_html_reporters/index.js
  packages/type/test/reporter/jest-html-reporters-attach/jest_html_reporters/result.js
  packages/type/test/reporter/jest_html_reporters.html
  packages/type/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

feat: 新增测试报告
  packages/type/script/mangle-errors.js
Due: eslint --fix, prettier --write

feat: 新增测试报告
  packages/type/.npmignore
Due: none

Delete packages/type/test/reporter directory
  packages/type/test/reporter/jest-html-reporters-attach/jest_html_reporters/index.js
  packages/type/test/reporter/jest-html-reporters-attach/jest_html_reporters/result.js
  packages/type/test/reporter/jest_html_reporters.html
Due: eslint --fix, prettier --write

feat: 新增文档示例
  package.json
  packages/type/README.md
  packages/type/package.json
  packages/type/src/index.ts
  packages/type/test/__tests__/type.test.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat: 新增文档示例
  commitlint.config.js
Due: eslint --fix, prettier --write

feat: 新增加密库
  package.json
  packages/conf/src/index.js
  packages/conf/src/index.js.map
  packages/conf/src/index.ts
  packages/conf/types/index.d.ts
  packages/crypto/.babelrc.js
  packages/crypto/.eslintignore
  packages/crypto/.gitignore
  packages/crypto/.internal/crypto.ts
  packages/crypto/.npmignore
  packages/crypto/CHANGELOG.md
  packages/crypto/README.md
  packages/crypto/jest.config.js
  packages/crypto/package.json
  packages/crypto/rollup.config.js
  packages/crypto/src/index.ts
  packages/crypto/test/__tests__/crypto.test.ts
  packages/crypto/tsconfig.json
  packages/crypto/types/.internal/crypto.d.ts
  packages/crypto/types/src/index.d.ts
  packages/type/.internal/type.ts
  packages/type/README.md
  packages/type/script/mangle-errors.js
  packages/type/src/index.ts
  packages/type/types/src/index.d.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat: 新增数据存储
  package.json
  packages/conf/src/index.ts
  packages/conf/types/index.d.ts
  packages/crypto/test/__tests__/crypto.test.ts
  packages/storage/.babelrc.js
  packages/storage/.eslintignore
  packages/storage/.gitignore
  packages/storage/.internal/storage.ts
  packages/storage/.npmignore
  packages/storage/CHANGELOG.md
  packages/storage/README.md
  packages/storage/jest.config.js
  packages/storage/package.json
  packages/storage/rollup.config.js
  packages/storage/src/index.ts
  packages/storage/test/__tests__/storage.test.ts
  packages/storage/tsconfig.json
  packages/storage/types/.internal/crypto.d.ts
  packages/storage/types/.internal/storage.d.ts
  packages/storage/types/src/index.d.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Update README.md
  packages/rest/README.md
Due: prettier --write, markdownlint --fix

Update rest.ts
  packages/rest/.internal/rest.ts
Due: eslint --fix, prettier --write

Update index.ts
  packages/rest/src/index.ts
Due: eslint --fix, prettier --write

Update README.md
  packages/util/README.md
Due: prettier --write, markdownlint --fix

更新文档
  README.md
  package.json
Due: eslint --fix, prettier --write, markdownlint --fix

更新文档
  packages/core/README.md
  packages/storage/README.md
  packages/util/README.md
Due: prettier --write, markdownlint --fix

更新文档
  packages/sort/README.md
Due: prettier --write, markdownlint --fix

新增IndexDB&PubSub
  README.md
  package.json
  packages/conf/README.md
  packages/conf/src/index.ts
  packages/core/README.md
  packages/core/src/index.ts
  packages/core/types/index.d.ts
  packages/indexdb/.babelrc.js
  packages/indexdb/.eslintignore
  packages/indexdb/.gitignore
  packages/indexdb/.internal/indexdb.ts
  packages/indexdb/CHANGELOG.md
  packages/indexdb/README.md
  packages/indexdb/package.json
  packages/indexdb/rollup.config.js
  packages/indexdb/src/index.ts
  packages/indexdb/tsconfig.json
  packages/indexdb/types/.internal/indexdb.d.ts
  packages/indexdb/types/index.d.ts
  packages/indexdb/types/src/index.d.ts
  packages/pubsub/.babelrc.js
  packages/pubsub/.eslintignore
  packages/pubsub/.gitignore
  packages/pubsub/.internal/pubsub.ts
  packages/pubsub/CHANGELOG.md
  packages/pubsub/README.md
  packages/pubsub/package.json
  packages/pubsub/rollup.config.js
  packages/pubsub/src/index.ts
  packages/pubsub/tsconfig.json
  packages/pubsub/types/.internal/pubsub.d.ts
  packages/pubsub/types/index.d.ts
  packages/pubsub/types/src/index.d.ts
  packages/util/.internal/util.ts
  packages/util/README.md
  packages/util/src/client/index.ts
  packages/util/src/index.ts
  packages/util/types/.internal/util.d.ts
  packages/util/types/src/client/index.d.ts
  packages/util/types/src/index.d.ts
Due: eslint --fix, prettier --write, markdownlint --fix

新增IndexDB&PubSub
  packages/pubsub/README.md
Due: prettier --write, markdownlint --fix

更新打包编译配置
  packages/conf/rollup.config.js
  packages/core/rollup.config.js
  packages/crypto/rollup.config.js
  packages/indexdb/rollup.config.js
  packages/pubsub/rollup.config.js
  packages/rest/rollup.config.js
  packages/sort/rollup.config.js
  packages/storage/rollup.config.js
  packages/type/rollup.config.js
  packages/util/rollup.config.js
Due: eslint --fix, prettier --write

更新vue通用能力
  README.md
  package.json
  packages/vue/src/utils/vdom.ts
  packages/vue/types/utils/vdom.d.ts
Due: eslint --fix, prettier --write, markdownlint --fix

更新base通用组件能力
  packages/base/package.json
  packages/base/src/packages/avatar/index.less
  packages/base/src/packages/avatar/index.tsx
  packages/base/src/packages/backtop/index.less
  packages/base/src/packages/backtop/index.tsx
  packages/base/src/packages/color-picker/index.less
  packages/base/src/packages/color-picker/index.tsx
  packages/base/src/packages/icon/index.less
  packages/base/src/packages/icon/index.tsx
  packages/base/src/packages/svg-icon/index.less
  packages/base/src/packages/svg-icon/index.tsx
  packages/base/src/packages/theme/vars.less
Due: eslint --fix, prettier --write

feat: setup the vironment confiuration for mate-ui
  .editorconfig
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .idea/vcs.xml
  .prettierrc
  LICENSE
  README.md
  README.zh_CN.md
  favicon.ico
  mate-ui.png
  package.json
  packages/eslint-base/index.js
  packages/eslint-base/package.json
  packages/eslint-vue/index.js
  packages/eslint-vue/package.json
  packages/eslint/index.js
  packages/eslint/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix, prettier --write, markdownlint --fix

feat: remove .idea file
  .husky/pre-commit
  .idea/.gitignore
  .idea/mate-ui.iml
  .idea/modules.xml
  .idea/vcs.xml
  pnpm-lock.yaml
Due: none

feat: adjuest the eslint format
  packages/eslint-base/index.js
  packages/eslint-vue/index.js
  packages/eslint/index.js
Due: eslint --fix, prettier --write

feat: add mate-ui theme
  package.json
  packages/theme-default/.gitignore
  packages/theme-default/README.md
  packages/theme-default/gulpfile.js
  packages/theme-default/package.json
  packages/theme-default/salad.config.json
  packages/theme-grace/README.md
  packages/theme-grace/gulpfile.js
  packages/theme-grace/package.json
  packages/theme/.gitignore
  packages/theme/.travis.yml
  packages/theme/README.md
  packages/theme/bin/mate-ui-theme
  packages/theme/index.js
  packages/theme/lib/config.js
  packages/theme/lib/task.js
  packages/theme/lib/vars.js
  packages/theme/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, markdownlint --fix

feat: update mate-ui icons
  packages/icon/script/transfer.mjs
  packages/icon/src/component/icon.js
  packages/icon/src/component/icons.js
  packages/icon/src/icon.js
  packages/icon/src/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{vue,js,ts,jsx,tsx,json}
  prettier --write: (any of: *.{vue,js,ts,jsx,tsx,json}) or (any of: *.md)
  markdownlint --fix: any of: *.md
