Repository miracle-git/mate-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "*.{vue,js,ts,jsx,tsx,json}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "markdownlint --fix",
    "prettier --write"
  ]
}

feat: update mate-ui icons
  packages/icon/index.html
  packages/icon/script/transfer.mjs
  packages/icon/src/component/element.js
  packages/icon/src/component/icon.js
  packages/icon/src/index.js
  packages/icon/svg/icons.svg
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add crypto/storage/api/util for @mate-ui/core
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/.internal/api.ts
  packages/core/src/.internal/crypto.ts
  packages/core/src/.internal/global.ts
  packages/core/src/.internal/storage.ts
  packages/core/src/api/main.ts
  packages/core/src/browser/main.ts
  packages/core/src/crypto/main.ts
  packages/core/src/formatter/main.ts
  packages/core/src/index.ts
  packages/core/src/indexdb/main.ts
  packages/core/src/loader/main.ts
  packages/core/src/network/main.ts
  packages/core/src/pubsub/main.ts
  packages/core/src/random/main.ts
  packages/core/src/storage/main.ts
  packages/core/src/util/main.ts
  packages/core/src/util/number.ts
  packages/core/src/util/object.ts
  packages/core/src/util/string.ts
  packages/core/test/api.test.ts
  packages/core/test/crypto.test.ts
  packages/core/test/formatter.test.ts
  packages/core/test/random.test.ts
  packages/core/test/storage.test.ts
  packages/core/tsconfig.json
Due: eslint --fix, prettier --write

feat: add client, pubsub, indexdb, loader
  packages/core/src/.internal/client.ts
  packages/core/src/.internal/global.ts
  packages/core/src/.internal/pubsub.ts
  packages/core/src/browser/main.ts
  packages/core/src/client/main.ts
  packages/core/src/config/main.ts
  packages/core/src/index.ts
  packages/core/src/indexdb/main.ts
  packages/core/src/loader/main.ts
  packages/core/src/network/main.ts
  packages/core/src/pubsub/main.ts
  packages/core/tsconfig.json
Due: eslint --fix, prettier --write

feat: add string util methods
  packages/core/package.json
  packages/core/src/.internal/http.ts
  packages/core/src/.internal/type.ts
  packages/core/src/config/main.ts
  packages/core/src/formatter/main.ts
  packages/core/src/http/main.ts
  packages/core/src/type/main.ts
  packages/core/src/util/string.ts
  packages/core/test/util.test.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add string util methods
  packages/core/index.html
  packages/core/src/config/main.ts
  packages/core/src/formatter/main.ts
  packages/core/src/util/array.ts
  packages/core/src/util/date.ts
  packages/core/src/util/main.ts
  packages/core/src/util/number.ts
  packages/core/src/util/object.ts
  packages/core/src/util/string.ts
  packages/core/test/util.test.ts
Due: eslint --fix, prettier --write

feat: remove test file
  packages/core/index.html
Due: none

feat: update http client entry
  packages/core/src/index.ts
Due: eslint --fix, prettier --write

feat: add string util methods
  packages/core/src/api/main.ts
  packages/core/src/type/main.ts
  packages/core/src/util/array.ts
  packages/core/src/util/object.ts
  packages/core/src/util/string.ts
  packages/core/test/util.test.ts
Due: eslint --fix, prettier --write

feat: update rollup compile config
  packages/core/package.json
  packages/core/rollup.config.js
  packages/core/src/.internal/http.ts
  packages/core/src/http/main.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: update string comment
  packages/core/src/util/string.ts
Due: eslint --fix, prettier --write

feat: remove formatter and dispatch date, number, string util
  packages/core/src/api/main.ts
  packages/core/src/formatter/main.ts
  packages/core/src/index.ts
  packages/core/src/util/date.ts
  packages/core/src/util/number.ts
  packages/core/src/util/string.ts
  packages/core/test/formatter.test.ts
  packages/core/test/util.test.ts
Due: eslint --fix, prettier --write

feat: update file format
  packages/core/src/api/main.ts
  packages/core/src/client/main.ts
  packages/core/src/loader/main.ts
  packages/locale/lang/cn.json
  packages/locale/lang/en.json
  packages/locale/package.json
  packages/render/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add button component for @mate-ui/vue
  packages/vue/components/button/index.ts
  packages/vue/components/button/src/index.ts
  packages/vue/components/button/src/mob.vue
  packages/vue/components/button/src/web.vue
  packages/vue/components/index.ts
  packages/vue/docs/public/favicon.ico
  packages/vue/package.json
  packages/vue/scripts/commitizen.js
  packages/vue/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add @mate-ui/vue
  packages/vue/site/src/router/index.js
Due: eslint --fix, prettier --write

feat: add @mate-ui/vue
  packages/vue/README-zh_CN.md
  packages/vue/README.md
  packages/vue/site/index.html
  packages/vue/site/scripts/genrateRoutes.js
  packages/vue/site/src/layouts/Demo.vue
  packages/vue/site/src/locale/en-US.js
  packages/vue/site/src/locale/zh-CN.js
  packages/vue/site/src/router/index.js
  packages/vue/site/src/router/routes.js
  packages/vue/site/src/theme/en-US.js
  packages/vue/site/src/theme/zh-CN.js
Due: eslint --fix, prettier --write, markdownlint --fix

feat: update @mate-ui logo
  README.md
  README.zh_CN.md
  logo.png
Due: prettier --write, markdownlint --fix

feat: add layout for mate-ui/vue
  packages/vue/.eslintrc.js
  packages/vue/docs/404.html
  packages/vue/docs/index.html
  packages/vue/docs/public/404.webp
  packages/vue/docs/public/favicon.ico
  packages/vue/docs/scripts/generate-routes.js
  packages/vue/docs/src/layouts/footer/index.vue
  packages/vue/docs/src/layouts/header/index.vue
  packages/vue/docs/src/layouts/index.vue
  packages/vue/docs/src/main.js
  packages/vue/docs/src/router/index.js
  packages/vue/docs/src/router/routes.config.js
  packages/vue/docs/src/styles/app.less
  packages/vue/docs/src/styles/index.less
  packages/vue/docs/src/views/app.vue
  packages/vue/docs/src/views/overview.vue
  packages/vue/docs/vite.config.ts
  packages/vue/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: add vue2, mob, ohos packages
  packages/docs/package.json
  packages/eslint-base/index.js
  packages/eslint-base/package.json
  packages/eslint-vue/index.js
  packages/eslint-vue/package.json
  packages/eslint/index.js
  packages/eslint/package.json
  packages/mob/package.json
  packages/ohos/package.json
  packages/theme-default/.gitignore
  packages/theme-default/README.md
  packages/theme-default/gulpfile.js
  packages/theme-default/package.json
  packages/theme-default/salad.config.json
  packages/theme-grace/README.md
  packages/theme-grace/gulpfile.js
  packages/theme-grace/package.json
  packages/vue/.eslintrc.js
  packages/vue/docs/scripts/generate-routes.js
  packages/vue/docs/src/layouts/header/index.vue
  packages/vue/docs/src/layouts/index.vue
  packages/vue/env.d.ts
  packages/vue2/package.json
Due: eslint --fix, prettier --write, markdownlint --fix

refactor: add docs
  packages/docs/mob/package.json
  packages/docs/ng/package.json
  packages/docs/react/package.json
  packages/docs/vue/package.json
  packages/docs/vue2/package.json
  packages/docs/web/package.json
Due: eslint --fix, prettier --write

feat: update magic number
  packages/core/src/util/array.ts
Due: eslint --fix, prettier --write
